{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}


<div class="col-md-3 card">
    <div class="row d-flex justify-content-center">
        <p class="pt-2">Buy Page</p>
    </div>

    <div class="row d-flex justify-content-center">
        <p class="pt-3">Title: {{item.title}}</p>
    </div>

    <div class="row d-flex justify-content-center">
        <img class="img-fluid img-thumbnail" src={{images_root}}{{item.image_field}} style="height: 400px; object-fit: contain;">
    </div>

</div>

