{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}


<div class="col-md-3 card">
    <div class="row d-flex justify-content-center">
        <p class="pt-2">Buy Page</p>
    </div>

    <div class="row d-flex justify-content-center">
        <p class="pt-3">{{item.title}}</p>
    </div>

    <div class="row d-flex justify-content-center">
        <img class="img-fluid img-thumbnail" src={{images_root}}{{item.image_field}} style="height: 400px; object-fit: contain;">
    </div>

<!--    <a type="button" class="btn btn-sm btn-outline-dark buy-button"  style="border-radius: 16px;"-->
<!--       href="{% url 'buy_by_id' item_id=item.id %}">Buy Buy Buy</a>-->

</div>

